extends layout.pug

block content
    div.container
      h1 JavaScript API Project
      form#apodForm(method='GET')
        div.form-group
          label(for='archiveStartDate' name='archiveStartDate') Start Date:
          input(type='date', class="form-control", name='archiveStartDate')
          label(for='archiveEndDate' name='archiveEndDate') Start Date:
          input(type='date', class="form-control", name='archiveEndDate')
          button(type="submit") Submit
      
      hr
      
      div.card 
        each val in displayData
          a(href=val.url, targer="_blank") 
            img.card-img-top.img-fluid(src = val.url alt='APOD image' )
          p.imgDesc Click on the image to view in a separate window
          div.card-body 
            h2.card-title #{val.title}
            p.card-text #{val.explanation}
  
  
    