/* Source-> Photo by Francesco Ungaro from Pexels: https://www.pexels.com/photo/starry-sky-998641/ */
body {
    margin: 20px;
    background-image: url('https://images.pexels.com/photos/998641/pexels-photo-998641.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2');
    color: rgb(255, 255, 255);
    text-align: center;
}

#about, .form-group {
    border: 1px solid rgb(0, 0, 0);
    padding: 20px;
    margin: 10px 0px;
    color: rgb(255, 255, 255);
    background-color: rgba(92, 91, 91, 0.2);
    text-align: center;
}

label {
    padding-top: 10px;
    margin: 0px;
}

.form-control {
    width:200px;
    position: relative;
    display: block;
    margin : 0 auto;
}

.btnStyle a {
    text-decoration: none;
    color: rgb(0, 0, 0);
}

.btnStyle a:hover {
    color: rgb(255, 255, 255);
}

.btnStyle {
    display: inline-block;
    padding: 0.375rem 1rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    margin: 10px 0px;
    background-color: lightgrey;
    color: rgb(0, 0, 0);
    border: 1px solid rgb(0, 0, 0);
    border-radius: 5%;
}

.btnStyle:hover {
    background-color: rgb(39, 38, 38);
    border: 1px solid rgb(255, 255, 255);
    color: rgb(255, 255, 255);
}



.card {
    border: 1px solid rgb(0, 0, 0);
    padding: 20px;
    margin: 10px 0px;
    color: rgb(255, 255, 255);
    background-color: rgba(92, 91, 91, 0.2);
}

.card img {
    width:500px; 
    height:500px;display: block;
    margin-left: auto;
    margin-right: auto;
}

.card .imgDesc {
    font-size: 12px;
    text-align: center;
}

.card h2 {
    margin-top: 10px;
}

.card p {
    text-align: justify;
    justify-content: center;
}

@media screen and (max-width: 600px) {
    body {
        width: 100%;
    }

    .card img {
        object-fit: cover;
        padding: 0px;
    }
}